<html lang="pt-br">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>CEAP</title>
</head>
<body>
<h1>Olá!</h1>
<p>
  Os dados foram criados com sucesso! <% @url %>
</p>
<a href="http://localhost:3001/deputados" style="color: #1492E6; text-decoration: none;"; target="_blank">Clique para visualizar a lista de deputados</a>.
</body>
</html>
